<p id="notice"><%= notice %></p>


<div class="container">
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Colleges you are applying to:</h3>
      </div>
      <div class="table-responsive">
  
        <table class="table table-bordered table-hover">
    
        <thead>
          <tr class="info">
            <th>College Name</th>
           
          </tr>
        </thead>

        <tbody>
          <% @current_user.colleges.each do |college| %>
          <tr>
            <td data-title="College Name"><%=link_to college.name, college %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
    </div>
  </div>
  </div>
  </div>

<br> 

<div class="container">
  <div class="col-sm-6">
    <div class="panel panel-primary bootcards-richtext">
      <div class="panel-heading">
         <h3 class="panel-title ">Most Popular Colleges</h3>
      </div>
      <div class="panel-body">
        <% College.pop_colleges.each do |college| %>
        <h4><%= college[0] %></h4><p><span class="badge"><%= college[1] %></span> applying</p>
        <br>
        <% end %>
      </div>
    </div>
  </div>
</div>